<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Log your Drill</h1>

<form action="/drills" method="POST">

  <label for="day">Day Number: </label>
  <input type="number" name="day" id="day"><br>
  <label for="cardio">Cardio Minutes: </label>
  <input type="number" name="cardio" id="cardio"><br>
  <label for="pushups">Number of Pushups: </label>
  <input type="number" name="pushups" id="pushups"><br>
  <label for="squats">Number of Squats: </label>
  <input type="number" name="squats" id="squats"><br>
  <label for="crunches">Number of Crunches: </label>
  <input type="number" name="crunches" id="crunches"><br>
  <label for="squatjacks">Number of Squatjacks: </label>
  <input type="number" name="squatjacks" id="squatjacks"><br>
  <input type="submit" value="submit">
</form>
