<h1>Create a Drill</h1>

<form action="/drills" method="POST">
  <label for="cardio">Cardio Minutes: </label>
  <input type="number" name="cardio">
  <label for="pushups">Number of Pushups: </label>
  <input type="number" name="pushups">
  <label for="squats">Number of Squats: </label>
  <input type="number" name="squats">
  <label for="crunches">Number of Crunches: </label>
  <input type="number" name="crunches">
  <label for="squatjacks">Number of Squatjacks: </label>
  <input type="number" name="squatjacks">

  <input type="submit" value="submit">
</form>
