<h1>You're on a roll, <%= current_user.username %>! Here are your completed Drills:</h1>
 <% current_user.drills.each do |drill| %>
   <h3><a href="drills/<%= drill.id%>">Day Number: <%= drill.day %></a></h3>
<% end %>
<br><br>
<a href="/drills/new">Record today's completed drill</a>
