<h2>Editing Drill</h2>
 <form action="/drills/<%=@drill.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="cardio">Cardio Minutes: </label>
  <input type="number" name="cardio" id="cardio">
  <label for="pushups">Number of Pushups: </label>
  <input type="number" name="pushups" id="pushups">
  <label for="squats">Number of Squats: </label>
  <input type="number" name="squats" id="squats">
  <label for="crunches">Number of Crunches: </label>
  <input type="number" name="crunches" id="crunches">
  <label for="squatjacks">Number of Squatjacks: </label>
  <input type="number" name="squatjacks" id="squatjacks">

  <input type="submit" value="submit">
</form>
