<<h1>Your fitness journey begins here at DIY Bootcamp. You are one day closer to being as fit as an Army Soldier!</h1>

 <% if !session[:user_id] %>
  <p><a href="/login">Log In</a> to DIY Bootcamp</p>
  <p>or <a href="/signup">Sign up</a></p>
<% else %>
  <p><a href="/logout">Log Out</a> of DIY BC?</p>
<% end %>
