<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <% if logged_in? %>
        <a href="/stats/new"><li>Enter Stats</li></a>
        <a href="/stats"><li>Stats</li></a>
        <a href="/drills/new"><li>Log Drill</li></a>
        <a href="/drills"><li>Drills</li></a>
        <a href="/logout"><li> Logout</li></a>
      <% else %>
        <a href="/signup"><li>Sign Up</li></a>
        <a href="/login"><li>Login</li></a>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
