<h2>Edit Info</h2>
 <form action="/stats/<%=@stat.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="day">Day Number: </label>
  <input type="number" name="day" id="day"><br>
  <label for="weight">Weight (in pounds): </label>
  <input type="number" name="weight" id="weight"><br>
  <label for="calories">Calories Consumed: </label>
  <input type="number" name="calories" id="calories"><br>


  <input type="submit" value="submit">
</form>
