<h1>Keep up the good work, <%= current_user.username %>! Here is your daily information log:</h1>
 <% current_user.stats.each do |stat| %>
   <h3><a href="stats/<%= stat.id%>">Day Number: <%= stat.day %></a></h3>


<% end %>
<br><br>
<a href="/stats/new">Enter your user information for today</a>
